*,
*::after,
*::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: burlywood;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: bold;
  color: burlywood;
}

h1{
  color: wheat;
  text-align: center;
  margin-top: 100px;
  font-size: 6rem;
}

.container{
  width: 700px;
  margin: 100px auto;
}
.d-flex{
  display: flex;
}
.flex-wrap{
  flex-wrap: wrap;
}

.card{
  width: 90px;
  height: 90px;
  margin: 5px;
  background-color: chocolate ;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fizz{
  background-color: rgb(167, 160, 99);
}

.buzz{
  background-color:indianred;
}

.fizzbuzz{
  background-color: darkcyan;
}